.active {
  font-weight: bold;
  border: 1px solid #60BEF9;
  background: #499AE9;
  color: #fff !important;
  box-shadow: 1px 1px 3px #cecece, -1px -1px 3px  #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
}